<section class="menu" id="menu">
  <div class="container">
    <h2 class="menu__title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu__wrap">
      <div class="menu__left">
        <table class="menu-table">
          <caption class="menu-table__title">
            Гарячі страви
          </caption>
          <tbody>
            <tr>
              <td class="dish-name menu__first">Борщ з телятини з квасолею</td>
              <td class="dish-weight" rowspan="2">400 г</td>
              <td class="dish-price" rowspan="2">240 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </td>
            </tr>
            <tr>
              <td class="dish-name">Суп сирний з куркою</td>
              <td class="dish-weight" rowspan="2">400 г</td>
              <td class="dish-price" rowspan="2">200 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </td>
            </tr>
            <tr>
              <td class="dish-name">Паста карбонара</td>
              <td class="dish-weight" rowspan="2">350 г</td>
              <td class="dish-price" rowspan="2">430 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </td>
            </tr>
            <tr>
              <td class="dish-name">Стейк зі свинини</td>
              <td class="dish-weight" rowspan="2">400 г</td>
              <td class="dish-price" rowspan="2">500 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </td>
            </tr>
            <tr>
              <td class="dish-name">Горбуша в соусі з білого вина</td>
              <td class="dish-weight" rowspan="2">400 г</td>
              <td class="dish-price" rowspan="2">400 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Ніжна горбуша, вершковий соус на основі білого вина
              </td>
            </tr>
          </tbody>
        </table>
        <table class="menu-table">
          <caption class="menu-table__title">
            Гарніри та закуски
          </caption>
          <tbody>
            <tr>
              <td class="dish-name menu__first">Запечені овочі</td>
              <td class="dish-weight" rowspan="2">200 г</td>
              <td class="dish-price" rowspan="2">230 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Кабачок, перець, помідор, баклажан
              </td>
            </tr>
            <tr>
              <td class="dish-name">Картопля фрі</td>
              <td class="dish-weight" rowspan="2">150 г</td>
              <td class="dish-price" rowspan="2">160 грн</td>
            </tr>
            <tr>
              <td class="dish-description">Картопля, соус томатний</td>
            </tr>
            <tr>
              <td class="dish-name">Картопля по-селянськи</td>
              <td class="dish-weight" rowspan="2">150 г</td>
              <td class="dish-price" rowspan="2">160 грн</td>
            </tr>
            <tr>
              <td class="dish-description">Картопля, спеції, соус пікантний</td>
            </tr>
            <tr>
              <td class="dish-name">Хрумкі соління з бочки</td>
              <td class="dish-weight" rowspan="2">250 г</td>
              <td class="dish-price" rowspan="2">350 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </td>
            </tr>
            <tr>
              <td class="dish-name">Крильця курячі в медовому соусі</td>
              <td class="dish-weight" rowspan="2">400 г</td>
              <td class="dish-price" rowspan="2">420 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="menu__right">
        <table class="menu-table">
          <caption class="menu-table__title">
            Салати
          </caption>
          <tbody>
            <tr>
              <td class="dish-name menu__first">Цезар з куркою</td>
              <td class="dish-weight" rowspan="2">230 г</td>
              <td class="dish-price" rowspan="2">450 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </td>
            </tr>
            <tr>
              <td class="dish-name">Цезар з креветками</td>
              <td class="dish-weight" rowspan="2">230 г</td>
              <td class="dish-price" rowspan="2">300 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </td>
            </tr>
            <tr>
              <td class="dish-name">Грецький салат</td>
              <td class="dish-weight" rowspan="2">230 г</td>
              <td class="dish-price" rowspan="2">280 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </td>
            </tr>
            <tr>
              <td class="dish-name">М’ясний салат</td>
              <td class="dish-weight" rowspan="2">230 г</td>
              <td class="dish-price" rowspan="2">300 грн</td>
            </tr>
            <tr>
              <td class="dish-description">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </td>
            </tr>
          </tbody>
        </table>

        <table class="menu-table desert__table">
          <caption class="menu-table__title">
            Десерти
          </caption>
          <tbody>
            <tr>
              <td class="dish-name desert__name menu__first">Торт наполеон</td>
              <td class="dish-weight">230 г</td>
              <td class="dish-price">300 грн</td>
            </tr>
            <tr>
              <td class="dish-name desert__name">Торт маковий</td>
              <td class="dish-weight">230 г</td>
              <td class="dish-price">300 грн</td>
            </tr>
            <tr>
              <td class="dish-name desert__name">Тірамісу</td>
              <td class="dish-weight">120 г</td>
              <td class="dish-price">260 грн</td>
            </tr>
          </tbody>
        </table>

        <table class="menu-table">
          <caption class="menu-table__title">
            Напої
          </caption>
          <tbody>
            <tr>
              <td class="dish-name drinks__name menu__first">
                Чай чорний/зелений
              </td>
              <td class="dish-weight">500 мл</td>
              <td class="dish-price">100 грн</td>
            </tr>
            <tr>
              <td class="dish-name drinks__name">Еспресо</td>
              <td class="dish-weight">30 мл</td>
              <td class="dish-price">100 грн</td>
            </tr>
            <tr>
              <td class="dish-name drinks__name">Американо</td>
              <td class="dish-weight">150 мл</td>
              <td class="dish-price">100 грн</td>
            </tr>
            <tr>
              <td class="dish-name drinks__name">Капучино</td>
              <td class="dish-weight">200 мл</td>
              <td class="dish-price">160 грн</td>
            </tr>
            <tr>
              <td class="dish-name drinks__name">Лате</td>
              <td class="dish-weight">200 мл</td>
              <td class="dish-price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="menu__btn-wrap">
      <button
        class="menu__btn js-open-modal"
        aria-expanded="false"
        aria-controls="booking-table-modal"
        data-modal="booking-table"
      >
        Забронювати столик
      </button>
    </div>
  </div>
</section>
