:root {
  --mobile: 414px;
  --tablet: 1024px;
  --desktop: 1280px;
  // Fonts
  --logo-font: 'Film P3 Bold', sans-serif;
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Times New Roman', serif;
  // Text colors
  --main-text-cl: #7a7a7a;
  --secondary-text-cl: #bababa;
  --white-text-cl: #ffffff;
  --uppertitle-text-cl: #b4b4b4;
  --section-titles-dark-text-cl: #494848;
  --section-titles-white-text-cl: #ffffff;
  --descr-text-cl: #bababa;
  --header-number-cl: #ffffff;
  --hero-address-cl: #e5e5e5;
  // Background colors
  --bg-lemon-cl: #fffdee;
  --footer-bg-cl: #000000;
  // Logo colors
  --logo-dark-cl: #494848;
  --logo-white-cl: #ffffff;
  // Borders colors
  --btn-border-cl: #ffffff;
  // Accent colors
  --accent-cl: #f3c653;
  --accent-descr-text-cl: #c79002;
  --accent-hovered-cl: #c79002;

  // Gradients
  --btn-gradient: rgba(0, 0, 0, 0.4);
  --hero-gradient: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));

  // Duration
  --duration: 250ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
