:root {
  --mobile: 414px;
  --tablet: 1024px;
  --desktop: 1280px;
  // Fonts
  --logo-font: 'Film P3 Bold', sans-serif;
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Times New Roman', serif;
  // Text colors
  --main-text-cl: #7a7a7a;
  --secondary-text-cl: #bababa;
  --white-text-cl: #ffffff;
  // Logo colors
  --logo-dark-cl: #494848;
  --logo-white-cl: #ffffff;
  // Borders colors
  --btn-border-cl: #ffffff;
  // Accent colors
  --accent-cl: #f3c653;
  // --accent-hovered-cl: #188ce8;
  // Gradients
  --btn-gradient: rgba(0, 0, 0, 0.4);
  --hero-gradient: rgba(0, 0, 0, 0.6);
}
