:root {
  --mobile: 414px;
  --tablet: 1024px;
  --desktop: 1280px;
  // Fonts
  --logo-font: 'Film P3 Bold', sans-serif;
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Times New Roman', serif;
  // Font weight
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  // Font sizes
  --fs-logo-s: 36px;
  --fs-logo-m: 40px;
  --fs-section-logo-m: 40px;
  --fs-section-logo-t: 64px;
  --fs-nav: 20px;
  --fs-contacts-title-m: 16px;
  --fs-contacts-title-d: 20px;
  --fs-contacts-descr-m: 20px;
  --fs-contacts-link-m: 14px;
  --fs-datails-title-t: 24px;
  --fs-header-number: 14px;
  --fs-main-title-m: 96px;
  --fs-main-title-t: 128px;
  --fs-main-subtitle-m: 16px;
  --fs-main-subtitle-t: 20px;
  --fs-uppertitle-m: 20px;
  --fs-uppertitle-t: 32px;
  --fs-descr-m: 12px;
  --fs-descr-t: 16px;
  --fs-section-title: 20px;
  --fs-hero-descr-m: 32px;
  --fs-hero-descr-t: 36px;
  --fs-hero-address-m: 12px;
  --fs-hero-address-t: 16px;
  --fs-modal-title-m: 24px;
  --fs-modal-title-t: 40px;
  // Line height
  --lh: 1.2;
  // Letter spacing
  --ls-main: 0.02em;
  --ls-logo: 0.3em;
  --ls-hero-descr: 0.05em;
  --ls-hero-address: 0.01em;
  --ls-main-title: 0.3em;
  --ls-uppertitle: 0;
  --ls-modal-title: 0.05em;
  --ls-input: 0.05em;
  // Text colors
  --main-text-cl: #7a7a7a;
  --secondary-text-cl: #bababa;
  --white-text-cl: #ffffff;
  --uppertitle-text-cl: #b4b4b4;
  --section-titles-dark-text-cl: #494848;
  --section-titles-white-text-cl: #ffffff;
  --descr-text-cl: #bababa;
  --header-number-cl: #ffffff;
  --hero-address-cl: #e5e5e5;
  --modal-title-cl: #000000;
  --form-label-cl: #c79002;
  --input-cl: #808080;
  // Background colors
  --bg-lemon-cl: #fffdee;
  --footer-bg-cl: #000000;
  --btn-bg-black-cl: #000000;
  --btn-bg-hovered-cl: #ffffff;
  --modal-bg-cl: #fffdee;
  // Logo colors
  --logo-dark-cl: #494848;
  --logo-white-cl: #ffffff;
  // Borders colors
  --btn-border-cl: #ffffff;
  --btn-border-hovered-cl: #f3c653;
  --input-border-cl: #c79002;
  // Icon colors
  --arrow-white-cl: #ffffff;
  --arrow-black-cl: #000000;
  --close-btn-cl: #000000;
  // Accent colors
  --accent-cl: #f3c653;
  --accent-descr-text-cl: #c79002;
  --accent-hovered-cl: #c79002;
  // Border radius
  --br-btn: 25px;
  --br-header-number: 2px;
  --br-section-img: 2px;
  --br-modal: 2px;
  --br-input: 2px;
  // Gradients
  --btn-gradient: rgba(0, 0, 0, 0.4);
  --hero-gradient: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  // Backdrop color
  --backdrop-cl: rgba(0, 0, 0, 0.2);
  // Duration
  --duration: 500ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
