.price-modal__title {
  font-weight: 700;
  font-family: var(--secondary-font);
  font-size: 24px;
  letter-spacing: 0.05em;
  color: var(--price-modal-cl);
  margin-bottom: 28px;
}

.price-modal__title-label,
.price-modal__label {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--form-label-cl);
  padding-left: 15px;
}

.price-modal__thumb:first-child {
  position: relative;

  @include tablet {
    margin-right: auto;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url(./../images/svg/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
  }
}

.price-modal__title-label {
  padding-left: 0;

  @include tablet {
  }
}

.price-modal__title-label,
.price-modal__label:not(:last-child) {
  margin-bottom: 20px;
}

.price-modal__list {
  margin-bottom: 40px;

  @include tablet {
    display: flex;
    gap: 16px;
  }
}

.price-modal__wrapper:first-child {
  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.price-modal__item {
  margin-bottom: 20px;

  @include tablet {
    width: 100%;
    margin-bottom: 0;
  }
}

.price-modal__item:last-child {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 0;
  }
}

.price-modal__select {
  // Забираємо стандартну стрілочку селекта
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  // Стилізуємо селект
  padding-right: 60px;
  cursor: pointer;
}

// Забираємо стандартну стрілочку селекта в ІЕ 10 і 11
.select::-ms-expand {
  display: none;
}

.price-modal__select {
  font-family: var(--secondary-font);
  font-weight: var(--fw-bold);
  font-size: 20px;
  letter-spacing: var(--ls-input);
  width: 100%;
  height: 54px;
  padding-top: 17px;
  padding-right: 12px;
  padding-bottom: 17px;
  padding-left: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--input-border-cl);
  border-radius: var(--br-input);
  outline: none;
  background-color: transparent;
  color: var(--input-cl);
  margin-bottom: 8px;

  @include tablet {
    font-size: 24px;
    width: 288px;
    height: 64px;
  }
}

.price-modal__input {
  font-family: var(--secondary-font);
  font-weight: var(--fw-bold);
  font-size: 24px;
  letter-spacing: var(--ls-input);
  width: 100%;
  height: 54px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--input-border-cl);
  border-radius: var(--br-input);
  color: var(--input-cl);
  margin-bottom: 8px;
}
