%main-title {
  font-family: var(--logo-font);
  font-size: 96px;
  line-height: calc(115 / 96);
  letter-spacing: 0.3em;
  color: var(--logo-white-cl);
}

%main-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.02em;
}
