%main-title {
  font-family: var(--logo-font);
  font-size: var(--fs-main-title-m);
  line-height: calc(115 / 96);
  letter-spacing: 0.3em;
  color: var(--logo-white-cl);
  width: 303;
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    font-size: var(--fs-main-title-t);
    line-height: calc(154 / 128);
    width: 404;
  }
}

%main-subtitle {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-main-subtitle-m);

  @include tablet {
    font-size: var(--fs-main-subtitle-t);
  }
}

%uppertitle {
  font-family: var(--secondary-font);
  font-size: var(--fs-uppertitle-m);
  letter-spacing: 0;
  color: var(--uppertitle-text-cl);

  @include tablet {
    font-size: var(--fs-uppertitle-t);
  }
}

%descr {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-descr-m);

  @include tablet {
    font-size: var(--fs-descr-t);
  }
}

%section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-section-title);
  color: var(--section-titles-white-text-cl);
}

%section-img {
  border-radius: 2px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

  @include tablet {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
}
