.about-restaurant {
  @include section(16, 20);
  position: relative;
  background-color: var(--bg-lemon-cl);
}

.about-restaurant__uppertitle {
  @extend %uppertitle;
  margin-bottom: 12px;
}

.about-restaurant__logo {
  @extend .logo;
  @extend .logo--dark;
  font-size: 40px;
  margin-bottom: 12px;
}

.about-restaurant__item {
  margin-bottom: 32px;
}

.about-restaurant__item:nth-child(2n + 1) > .about-restaurant__descr {
  @extend %descr;
  margin-bottom: 28px;
  max-width: 258px;
}

.about-restaurant__item:nth-child(2n + 1) > .about-restaurant__img {
  display: block;
  margin-left: auto;
}

.about-restaurant__item:nth-child(2n) {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}

.about-restaurant__item:nth-child(2n) > .about-restaurant__descr {
  @extend %descr;
  color: var(--accent-descr-text-cl);
  max-width: 156px;
  margin-right: auto;
}

.about-restaurant__item:nth-child(2n) > .about-restaurant__img {
  display: block;
}

.about-restaurant__img {
  @extend %section-img;
}

.about-restaurant__slider {
  width: 330px;
  // margin-right: -130px;
}

// .swiper-img {
//   width: 245px;
//   height: 245px;
// }
