.about-hotel {
  @include section(18, 20);
  text-align: right;
  background-color: var(--bg-lemon-cl);
}

.about-hotel__uppertitle {
  @extend %uppertitle;
  margin-bottom: 6px;
}

.about-hotel__logo {
  @extend .logo;
  @extend .logo--dark;
  margin-right: -10px;
  margin-bottom: 16px;
}

.about-hotel__descr {
  @extend %descr;
}

.about-hotel__item {
  margin-bottom: 32px;
}

.about-hotel__item:nth-child(2n + 1) > .about-hotel__descr {
  text-align: left;
  margin-bottom: 28px;
  margin-left: auto;
  max-width: 235px;
}

.about-hotel__item:nth-child(2n) {
  display: flex;
  align-items: center;
  gap: 21px;
}

.about-hotel__item:nth-child(2n) > .about-hotel__descr {
  text-align: left;
  color: var(--accent-descr-text-cl);
  max-width: 150px;
}

.about-hotel__item:nth-child(2n) > .about-hotel__img {
  margin-left: auto;
}

.about-hotel__slider {
  margin-left: -130px;
}

// .about-hotel__slider {
//   &.slider-left {
//     margin-right: 84px;
//     margin-left: -15px;
//     max-width: 330px;
//     height: 297px;
//   }

//   & .slick-track {
//     height: 245px;
//     max-width: auto;
//   }

//   & .slider-item {
//     width: 245px;
//     height: 245px;
//     // margin-right: 25px;
//   }

//   & .slick-arrow {
//     bottom: 0;
//     right: 15;
//   }

//   & .slick-arrow.slick-prev {
//     right: 47;
//     background-image: url(./../images/svg/arrow-left-dark.svg);

//     &:hover {
//       background-image: url(./../images/svg/arrow-left-hovered.svg);
//     }
//   }

//   & .slick-arrow.slick-next {
//     background-image: url(./../images/svg/arrow-right-dark.svg);

//     &:hover {
//       background-image: url(./../images/svg/arrow-right-hovered.svg);
//     }
//   }
// }
