.about-hotel {
  @include section(18, 20);

  @include tablet {
    @include section(120, 32);
  }
  text-align: right;
  background-color: var(--bg-lemon-cl);
}

.about-hotel__uppertitle {
  @extend %uppertitle;
  margin-bottom: 6px;

  @include tablet {
    margin-bottom: 4px;
  }
}

.about-hotel__logo {
  @extend .logo;
  @extend .logo--dark;
  margin-right: -10px;
  margin-bottom: 16px;

  @include tablet {
    font-size: 64px;
    margin-right: -20px;
    margin-bottom: 24px;
  }
}

.about-hotel__descr {
  @extend %descr;
}

.about-hotel__item {
  margin-bottom: 32px;
}

.about-hotel__item:nth-child(2n + 1) > .about-hotel__descr {
  text-align: left;
  margin-bottom: 28px;
  margin-left: auto;
  max-width: 235px;

  @include tablet {
    max-width: 405px;
  }
}

.about-hotel__item:nth-child(2n + 1) > .about-hotel__img {
  display: block;
  max-width: 244px;

  @include tablet {
    margin-top: -384px;
    margin-left: 65px;
    max-width: 400px;
  }

  @include desktop {
    max-width: 460px;
  }
}

.about-hotel__item:nth-child(2n) {
  display: flex;
  // align-items: center;
  gap: 21px;
}

.about-hotel__item:nth-child(2n) > .about-hotel__descr {
  text-align: left;
  color: var(--accent-descr-text-cl);
  max-width: 150px;

  @include tablet {
    margin-top: 120px;
    margin-left: 220px;
    max-width: 305px;
  }
}

.about-hotel__item:nth-child(2n) > .about-hotel__img {
  margin-left: auto;

  @include tablet {
    max-width: 350px;
    margin-top: -55px;
  }

  @include desktop {
    max-width: 460px;
  }
}

.about-hotel__img {
  @extend %section-img;
}
