.contacts {
  @include section(36, 32);
  background-color: var(--bg-lemon-cl);

  @include tablet {
    @include section(69, 40);
  }

  @include desktop {
    @include section(64, 74);
  }
}

.contacts__container {
  @include tablet {
    display: flex;
  }
}

.contacts__logo {
  @extend .logo;
  @extend .logo--dark;
  font-size: var(--fs-section-logo-m);
  margin-bottom: 12px;

  @include tablet {
    font-size: var(--fs-section-logo-t);
    margin-bottom: 8px;
  }

  @include desktop {
    margin-bottom: 16px;
  }
}

.contacts__title {
  @extend %section-title;
  font-size: var(--fs-contacts-title-m);
  color: var(--main-text-cl);
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 52px;
  }

  @include desktop {
    font-size: var(--fs-contacts-title-d);
    margin-bottom: 40px;
  }
}

.contacts__list {
  @media screen and (max-width: 1023px) {
    margin-bottom: 32px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1023px) {
    margin-bottom: 16px;
  }

  @include tablet {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
}

.contacts__item > p {
  font-weight: var(--fw-medium);
  font-size: var(--fs-contacts-descr-m);
  color: var(--accent-descr-text-cl);
}

.contacts__item:first-child {
  margin-bottom: 24px;
}

.contacts__item:nth-child(2) {
  margin-bottom: 48px;
}

.contacts__item:first-child > p {
  margin-right: 21px;
}

.contacts__item:last-child > a {
  font-size: 16px;
  letter-spacing: 0.01em;
  width: 260px;

  @media screen and (max-width: 1023px) {
    margin-left: 122px;
    padding-right: 20px;
  }

  @include tablet {
    width: 285px;
  }
}

.contacts__item:first-child > .contacts__link,
.contacts__item:last-child > .contacts__link {
  border-width: 1px;
  border-style: solid;
  border-color: var(--accent-cl);
  background-color: #ffffff;
}

.contacts-list__item {
  @include tablet {
    margin-bottom: 8px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-size: var(--fs-contacts-link-m);
  padding: 8px;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: var(--location-icon-cl);
}

.contacts__hotel-phone {
  padding-right: 4px;
}

.contacts__wrap {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: var(--accent-cl);
  background-color: #fff;

  @media screen and (max-width: 1023px) {
    margin-left: 54px;
  }
}

.contacts__map {
  width: 384px;
  height: 220px;

  @include tablet {
    width: 535px;
    height: 430px;
    margin-left: auto;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  @include desktop {
    width: 634px;
    height: 430px;
  }
}
