.details-restaurant {
  @include section(24, 40);
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center center; // x y
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  @media screen and (max-width: 1023px) {
    // mobile screen
    background-image: var(--hero-gradient),
      url('../images/main-page/details-restaurant/details-restaurant-bg-img_m.jpg');
    background-image: var(--hero-gradient),
      -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img_m.webp')
            1x);
    @include retina2 {
      background-image: var(--hero-gradient),
        url('../images/main-page/details-restaurant/details-restaurant-bg-img@2x_m.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img@2x_m.webp')
              2x);
    }
    @include retina3 {
      background-image: var(--hero-gradient),
        url('../images/main-page/details-restaurant/details-restaurant-bg-img@3x_m.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img@3x_m.webp')
              3x);
    }
    @include retina4 {
      background-image: var(--hero-gradient),
        url('../images/main-page/details-restaurant/details-restaurant-bg-img@4x_m.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img@4x_m.webp')
              4x);
    }
  }

  @include tablet {
    @include section(48, 40);

    // tablet screen
    background-image: var(--hero-gradient),
      url('../images/main-page/details-restaurant/details-restaurant-bg-img_t.jpg');
    background-image: var(--hero-gradient),
      -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img_t.webp')
            1x);
    @include retina2 {
      background-image: var(--hero-gradient),
        url('../images/main-page/details-restaurant/details-restaurant-bg-img@2x_t.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img@2x_t.webp')
              2x);
    }
    @include retina3 {
      background-image: var(--hero-gradient),
        url('../images/main-page/details-restaurant/details-restaurant-bg-img@3x_t.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img@3x_t.webp')
              3x);
    }
    @include retina4 {
      background-image: var(--hero-gradient),
        url('../images/main-page/details-restaurant/details-restaurant-bg-img@4x_t.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img@4x_t.webp')
              4x);
    }
  }

  @include desktop {
    // desktop screen
    background-image: var(--hero-gradient),
      url('../images/main-page/details-restaurant/details-restaurant-bg-img_d.jpg');
    background-image: var(--hero-gradient),
      -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img_d.webp')
            1x);
    @include retina2 {
      background-image: var(--hero-gradient),
        url('../images/main-page/details-restaurant/details-restaurant-bg-img@2x_d.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img@2x_d.webp')
              2x);
    }
    @include retina3 {
      background-image: var(--hero-gradient),
        url('../images/main-page/details-restaurant/details-restaurant-bg-img@3x_d.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img@3x_d.webp')
              3x);
    }
    @include retina4 {
      background-image: var(--hero-gradient),
        url('../images/main-page/details-restaurant/details-restaurant-bg-img@4x_d.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/details-restaurant/details-restaurant-bg-img@4x_d.webp')
              4x);
    }
  }
}

.details-restaurant__wrap {
  text-align: start;
  max-width: 250px;
  margin-left: auto;
  margin-bottom: 48px;

  @include tablet {
    max-width: 610px;
    margin-bottom: 40px;
    margin-left: 231px;
  }
}

.details-restaurant__logo {
  @extend .logo;
  @extend .logo--white;
  margin-bottom: 12px;

  @include tablet {
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
}

.details-restaurant__title {
  @extend %section-title;
  margin-bottom: 20px;

  @include tablet {
    font-size: 24px;
  }

  @include tablet {
    margin-bottom: 8px;
  }
}

.details-restaurant__descr {
  @extend %descr;
  text-align: start;
  color: var(--descr-text-cl);
  max-width: 250px;

  @include tablet {
    max-width: 610px;
  }
}
