.hero__container {
  @include section(181, 102);
  @extend .container;
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center center; // x y
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--white-text-cl);
  max-width: 1280px;

  @media screen and (max-width: 1023px) {
    //   // mobile screen
    background-image: var(--hero-gradient),
      url('../images/main-page/hero/hero-bg-img_m.jpg');
    background-image: var(--hero-gradient),
      -webkit-image-set(url('../images/main-page/hero/hero-bg-img_m.webp') 1x);
    @include retina2 {
      background-image: var(--hero-gradient),
        url('../images/main-page/hero/hero-bg-img@2x_m.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/hero/hero-bg-img@2x_m.webp')
              2x);
    }
    @include retina3 {
      background-image: var(--hero-gradient),
        url('../images/main-page/hero/hero-bg-img@3x_m.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/hero/hero-bg-img@3x_m.webp')
              3x);
    }
    @include retina4 {
      background-image: var(--hero-gradient),
        url('../images/main-page/hero/hero-bg-img@4x_m.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/hero/hero-bg-img@4x_m.webp')
              4x);
    }
  }

  @include tablet {
    @include section(188, 64);

    // tablet screen
    background-image: var(--hero-gradient),
      url('../images/main-page/hero/hero-bg-img_t.jpg');
    background-image: var(--hero-gradient),
      -webkit-image-set(url('../images/main-page/hero/hero-bg-img_t.webp') 1x);
    @include retina2 {
      background-image: var(--hero-gradient),
        url('../images/main-page/hero/hero-bg-img@2x_t.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/hero/hero-bg-img@2x_t.webp')
              2x);
    }
    @include retina3 {
      background-image: var(--hero-gradient),
        url('../images/main-page/hero/hero-bg-img@3x_t.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/hero/hero-bg-img@3x_t.webp')
              3x);
    }
    @include retina4 {
      background-image: var(--hero-gradient),
        url('../images/main-page/hero/hero-bg-img@4x_t.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/hero/hero-bg-img@4x_t.webp')
              4x);
    }
  }

  @include desktop {
    @include section(164, 65);

    // desktop screen
    background-image: var(--hero-gradient),
      url('../images/main-page/hero/hero-bg-img_d.jpg');
    background-image: var(--hero-gradient),
      -webkit-image-set(url('../images/main-page/hero/hero-bg-img_d.webp') 1x);
    @include retina2 {
      background-image: var(--hero-gradient),
        url('../images/main-page/hero/hero-bg-img@2x_d.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/hero/hero-bg-img@2x_d.webp')
              2x);
    }
    @include retina3 {
      background-image: var(--hero-gradient),
        url('../images/main-page/hero/hero-bg-img@3x_d.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/hero/hero-bg-img@3x_d.webp')
              3x);
    }
    @include retina4 {
      background-image: var(--hero-gradient),
        url('../images/main-page/hero/hero-bg-img@4x_d.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/main-page/hero/hero-bg-img@4x_d.webp')
              4x);
    }
  }
}

.hero__title {
  @extend %main-title;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 16px;
  }

  @include desktop {
    margin-bottom: 32px;
  }

  &.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
  }
}

.hero__subtitle {
  @extend %main-subtitle;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 56px;
  }

  @include desktop {
    margin-bottom: 64px;
  }

  &.animate__animated.animate__fadeInUp {
    // --animate-duration: 2s;
    --animate-delay: 1s;
  }
}

.hero__descr {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);
  letter-spacing: 0.05em;
  margin-bottom: 113px;

  @include tablet {
    font-size: 36px;
    line-height: calc(43 / 36);
    margin-bottom: 137px;
  }

  &.animate__animated.animate__fadeInUp {
    // --animate-duration: 2s;
    --animate-delay: 2s;
  }
}

.hero__wrapper {
  @include tablet {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

.hero__address {
  display: flex;
  align-items: center;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: var(--accent-cl);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--hero-address-cl);
  padding: 8px;

  @media screen and (max-width: 1023px) {
    position: absolute;
    top: 70px;
    right: 20px;
    min-width: 220px;
    min-height: 48px;
  }

  @include tablet {
    font-size: 16px;
    line-height: calc(19 / 16);
    min-width: 285px;
    min-height: 56px;
  }
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    flex-direction: row;
    gap: 40px;
  }

  @include desktop {
    gap: 60px;
  }
}

.hero__btn {
  @extend .btn;

  @include desktop {
    min-width: 258px;
  }
}

.hero__wrap > .hero__btn:last-child {
  min-width: 232px;

  @include desktop {
    min-width: 254px;
  }
}

.hero__social {
  @extend .social__list;
  position: absolute;
  bottom: 20;

  @include tablet {
    bottom: 15;
  }

  @include desktop {
    display: none;
  }
}
