.hero__container.restaurant {
  @media screen and (max-width: 1023px) {
    //   // mobile screen
    background-image: var(--hero-gradient),
      url('../images/restaurant/hero/hero-bg-img_m.jpg');
    background-image: var(--hero-gradient),
      -webkit-image-set(url('../images/restaurant/hero/hero-bg-img_m.webp') 1x);
    @include retina2 {
      background-image: var(--hero-gradient),
        url('../images/restaurant/hero/hero-bg-img@2x_m.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/restaurant/hero/hero-bg-img@2x_m.webp')
              2x);
    }
    @include retina3 {
      background-image: var(--hero-gradient),
        url('../images/restaurant/hero/hero-bg-img@3x_m.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/restaurant/hero/hero-bg-img@3x_m.webp')
              3x);
    }
    @include retina4 {
      background-image: var(--hero-gradient),
        url('../images/restaurant/hero/hero-bg-img@4x_m.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/restaurant/hero/hero-bg-img@4x_m.webp')
              4x);
    }
  }

  @include tablet {
    // tablet screen
    background-image: var(--hero-gradient),
      url('../images/restaurant/hero/hero-bg-img_t.jpg');
    background-image: var(--hero-gradient),
      -webkit-image-set(url('../images/restaurant/hero/hero-bg-img_t.webp') 1x);
    @include retina2 {
      background-image: var(--hero-gradient),
        url('../images/restaurant/hero/hero-bg-img@2x_t.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/restaurant/hero/hero-bg-img@2x_t.webp')
              2x);
    }
    @include retina3 {
      background-image: var(--hero-gradient),
        url('../images/restaurant/hero/hero-bg-img@3x_t.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/restaurant/hero/hero-bg-img@3x_t.webp')
              3x);
    }
    @include retina4 {
      background-image: var(--hero-gradient),
        url('../images/restaurant/hero/hero-bg-img@4x_t.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/restaurant/hero/hero-bg-img@4x_t.webp')
              4x);
    }
  }

  @include desktop {
    // desktop screen
    background-image: var(--hero-gradient),
      url('../images/restaurant/hero/hero-bg-img_d.jpg');
    background-image: var(--hero-gradient),
      -webkit-image-set(url('../images/restaurant/hero/hero-bg-img_d.webp') 1x);
    @include retina2 {
      background-image: var(--hero-gradient),
        url('../images/restaurant/hero/hero-bg-img@2x_d.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/restaurant/hero/hero-bg-img@2x_d.webp')
              2x);
    }
    @include retina3 {
      background-image: var(--hero-gradient),
        url('../images/restaurant/hero/hero-bg-img@3x_d.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/restaurant/hero/hero-bg-img@3x_d.webp')
              3x);
    }
    @include retina4 {
      background-image: var(--hero-gradient),
        url('../images/restaurant/hero/hero-bg-img@4x_d.jpg');
      background-image: var(--hero-gradient),
        -webkit-image-set(url('../images/restaurant/hero/hero-bg-img@4x_d.webp')
              4x);
    }
  }
}
