.menu {
  color: var(--menu-section-text-cl);

  @include section(32, 32);
  background-color: var(--bg-lemon-cl);

  @include tablet {
    @include section(58, 40);
    background-color: var(--menu-section-bg-cl);
  }

  @include desktop {
    @include section(58, 60);
  }
}

.menu__title {
  font-family: var(--secondary-font);
  font-size: 32px;
  letter-spacing: 0em;
  margin-bottom: 32px;
}

.menu__wrap {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.menu__left {
  margin-bottom: 8px;
}

.menu__right {
  @media screen and (max-width: 1023px) {
    margin-bottom: 32px;
  }
}

.menu-table {
  @media screen and (max-width: 1023px) {
    width: 384px;
  }
}

.menu-table:not(:last-child) {
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 20px;
  }
}

.menu-table__title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    font-size: 24px;
  }
}

.dish-name {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  width: 226px;
  padding-top: 8px;
  padding-bottom: 4px;

  @include tablet {
    padding-top: 12px;
  }

  @include desktop {
    font-size: 16px;
    width: 258px;
  }
}

.menu__first {
  padding-top: 0;
}

.dish-weight {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-right: 25px;
  padding-left: 25px;

  @include tablet {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include desktop {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.dish-price {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.dish-description {
  font-size: 10px;
  letter-spacing: 0.02em;
  padding: 0;
}

.desert__table {
  @include tablet {
    margin-bottom: 16px;
  }
}

.desert__name {
  padding-top: 5px;
  padding-bottom: 5px;
}

.drinks__name {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 210px;

  @include tablet {
    width: 215px;
  }

  @include desktop {
    width: 245px;
  }
}

.menu__btn-wrap {
  text-align: center;

  @include tablet {
    text-align: right;
  }
}

.menu__btn {
  @extend .btn;
  @extend .btn--black;
}
