<section class="amenities">
  <div class="container">
    <h2 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities__descr">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities__list">
      <li class="amenities__item">
        <h3 class="amenities__subtitle">ЗАГАЛЬНІ</h3>
        <div class="amenities__thumb">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__subtitle">ВАННА КІМНАТА</h3>
        <div class="amenities__thumb">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__subtitle">СПАЛЬНЯ</h3>
        <div class="amenities__thumb">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__subtitle">КУХНЯ</h3>
        <div class="amenities__thumb">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__subtitle">МЕДІА</h3>
        <div class="amenities__thumb">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
    <button
      class="amenities__btn js-open-modal"
      aria-expanded="false"
      aria-controls="booking-room-modal"
      data-modal="booking-room"
    >
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
    <a class="amenities__link" href="./hotel.html"
      >Повернутися до перегляду номерів
      <svg class="amenities__icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
