<div
  class="backdrop is-hidden js-backdrop"
  id="booking-room-modal"
  data-modal="booking-room"
>
  <div class="modal">
    <button
      class="close-btn js-modal-close"
      type="button"
      aria-label="Закрити модальне вікно"
    >
      <svg class="close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <strong class="modal__title">ЗАБРОНЮВАТИ НОМЕР</strong>
    <form class="form" name="booking-room" autocomplete="off">
      <div class="form__group booking-room__group">
        <label class="form__wrap booking-room__wrap">
          <input
            class="form__input"
            type="text"
            name="username"
            placeholder="Ваше ім’я"
            pattern="^[a-zA-Zа-яА-ЯёЁїЇіІєЄґҐ]+\s[a-zA-Zа-яА-ЯёЁїЇіІєЄґҐ]+$"
            title="Мусить бути два слова розділені пробілом."
            required
          />
          <span class="form__label">На кого забронювати номер?</span>
        </label>
        <label class="form__wrap booking-room__wrap">
          <input
            class="form__input"
            type="tel"
            name="userphone"
            placeholder="+38 (___) ___-__-__"
            id="brphone"
            minlength="17"
            maxlength="17"
            required
          />
          <span class="form__label">Номер телефону</span>
        </label>
      </div>
      <div class="booking-room__right booking-room__group">
        <label class="form__wrap booking-room__wrap">
          <div class="form__wrapper">
            <select class="form__select" name="category">
              <option value="dl">Двомісний люкс</option>
              <option value="tr">Трьохмісний номер</option>
              <option value="dr">Двомісний номер</option>
            </select>
          </div>
          <span class="form__label">Категорія номеру</span>
        </label>
      </div>
      <div class="form__group booking-room__selection-group">
        <label class="form__wrap booking-room__wrap">
          <div class="form__wrapper">
            <select
              class="form__select js-select"
              id="arrival-date"
              name="arrivaldate"
            ></select>
          </div>
          <span class="form__label">Дата заїзду</span>
        </label>
        <label class="form__wrap">
          <div class="form__wrapper">
            <select
              class="form__select js-select"
              id="departure-date"
              name="departureDate"
            ></select>
          </div>
          <span class="form__label">Дата виїзду</span>
        </label>
      </div>
      <button class="form-btn" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div>
