<!-- <div
  class="backdrop is-hidden js-backdrop"
  id="price-double-room-luxe-modal"
  data-modal="price-double-room-luxe"
>
  <div class="modal">
    <button
      class="close-btn js-modal-close"
      type="button"
      aria-label="Закрити модальне вікно"
    >
      <svg class="close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <strong class="modal__title">ЦІНИ НА НОМЕР</strong>
    <p class="price-modal__title">Двомісний люкс</p>
    <p class="price-modal__title-label">Категорія номеру</p>
    <div class="price-modal__list">
      <div class="price-modal__wrapper">
        <div class="price-modal__thumb">
          <select class="price-modal__select" id="" name="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
          </select>
        </div>
        <p class="price-modal__label">Кількість ночей</p>
      </div>
      <div class="price-modal__wrapper">
        <p class="price-modal__select" data-price-luxe>0</p>
        <p class="price-modal__label">грн</p>
      </div>
    </div>

    <button class="form-btn" type="button">ЗАБРОНЮВАТИ НОМЕР</button>
  </div>
</div> -->
