<div
  class="backdrop is-hidden js-backdrop"
  id="price-double-room-modal"
  data-modal="price-double-room"
>
  <div class="modal">
    <button class="close-btn js-modal-close" type="button">
      <svg class="close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <strong class="modal__title">ЦІНИ НА НОМЕР</strong>
    <p class="price-modal__title">Двомісний номер</p>
    <p class="price-modal__title-label">Категорія номеру</p>
    <ul class="price-modal__list">
      <li class="price-modal__item">
        <p class="price-modal__input">1</p>
        <p class="price-modal__label">Кількість ночей</p>
      </li>
      <li class="price-modal__item">
        <p class="price-modal__input">1000</p>
        <p class="price-modal__label">грн</p>
      </li>
    </ul>

    <button class="form-btn" type="button">ЗАБРОНЮВАТИ НОМЕР</button>
  </div>
</div>
