<section class="double-room-lux">
  <div class="container">
    <div class="double-room-lux__wrap">
      <div>
        <p class="double-room-lux__uppertitle">Amet minim mollit non</p>
        <p class="double-room-lux__logo">MIMIHO</p>
        <h2 class="double-room-lux__title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="double-room-lux__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="double-room-lux__picture" data-aos="fade-up-right">
        <!-- desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hotel/double-room-lux/double-room-lux-img_d.webp    1x,
            ./images/hotel/double-room-lux/double-room-lux-img@2x_d.webp 2x,
            ./images/hotel/double-room-lux/double-room-lux-img@3x_d.webp 3x,
            ./images/hotel/double-room-lux/double-room-lux-img@4x_d.webp 4x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hotel/double-room-lux/double-room-lux-img_d.jpg    1x,
            ./images/hotel/double-room-lux/double-room-lux-img@2x_d.jpg 2x,
            ./images/hotel/double-room-lux/double-room-lux-img@3x_d.jpg 3x,
            ./images/hotel/double-room-lux/double-room-lux-img@4x_d.jpg 4x
          "
          type="image/jpg"
        />
        <!-- tablet screen -->
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/hotel/double-room-lux/double-room-lux-img_t.webp    1x,
            ./images/hotel/double-room-lux/double-room-lux-img@2x_t.webp 2x,
            ./images/hotel/double-room-lux/double-room-lux-img@3x_t.webp 3x,
            ./images/hotel/double-room-lux/double-room-lux-img@4x_t.webp 4x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/hotel/double-room-lux/double-room-lux-img_t.jpg    1x,
            ./images/hotel/double-room-lux/double-room-lux-img@2x_t.jpg 2x,
            ./images/hotel/double-room-lux/double-room-lux-img@3x_t.jpg 3x,
            ./images/hotel/double-room-lux/double-room-lux-img@4x_t.jpg 4x
          "
          type="image/jpg"
        />
        <!-- mobile screen -->
        <source
          media="(max-width: 1023px)"
          srcset="
            ./images/hotel/double-room-lux/double-room-lux-img_m.webp    1x,
            ./images/hotel/double-room-lux/double-room-lux-img@2x_m.webp 2x,
            ./images/hotel/double-room-lux/double-room-lux-img@3x_m.webp 3x,
            ./images/hotel/double-room-lux/double-room-lux-img@4x_m.webp 4x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./images/hotel/double-room-lux/double-room-lux-img_m.jpg    1x,
            ./images/hotel/double-room-lux/double-room-lux-img@2x_m.jpg 2x,
            ./images/hotel/double-room-lux/double-room-lux-img@3x_m.jpg 3x,
            ./images/hotel/double-room-lux/double-room-lux-img@4x_m.jpg 4x
          "
          type="image/jpg"
        />
        <!-- fallback -->
        <img
          class="double-room-lux__img"
          src="./images/hotel/double-room-lux/double-room-lux-img_m.jpg"
          alt="Двомісний номер люкс"
          width="460"
          height="574"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="double-room-lux__wrap">
      <div class="double-room-lux__slider">
        <div dir="rtl" class="swiper swiper-ltr">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <!-- desktop screen -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04_d.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@2x_d.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@3x_d.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@4x_d.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04_d.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@2x_d.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@3x_d.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@4x_d.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- tablet screen -->
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04_t.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@2x_t.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@3x_t.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@4x_t.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04_t.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@2x_t.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@3x_t.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@4x_t.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- mobile screen -->
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04_m.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@2x_m.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@3x_m.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@4x_m.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04_m.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@2x_m.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@3x_m.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider04@4x_m.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- fallback -->
                <img
                  src="./images/hotel/double-room-lux/slider/double-room-lux-slider04_m.jpg"
                  alt="Hotel photo"
                  width="254"
                  height="254"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <!-- desktop screen -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03_d.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@2x_d.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@3x_d.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@4x_d.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03_d.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@2x_d.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@3x_d.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@4x_d.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- tablet screen -->
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03_t.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@2x_t.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@3x_t.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@4x_t.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03_t.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@2x_t.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@3x_t.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@4x_t.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- mobile screen -->
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03_m.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@2x_m.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@3x_m.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@4x_m.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03_m.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@2x_m.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@3x_m.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider03@4x_m.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- fallback -->
                <img
                  src="./images/hotel/double-room-lux/slider/double-room-lux-slider03_m.jpg"
                  alt="Hotel photo"
                  width="254"
                  height="254"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <!-- desktop screen -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02_d.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@2x_d.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@3x_d.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@4x_d.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02_d.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@2x_d.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@3x_d.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@4x_d.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- tablet screen -->
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02_t.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@2x_t.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@3x_t.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@4x_t.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02_t.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@2x_t.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@3x_t.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@4x_t.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- mobile screen -->
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02_m.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@2x_m.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@3x_m.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@4x_m.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02_m.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@2x_m.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@3x_m.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider02@4x_m.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- fallback -->
                <img
                  src="./images/hotel/double-room-lux/slider/double-room-lux-slider02_m.jpg"
                  alt="Hotel photo"
                  width="254"
                  height="254"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <!-- desktop screen -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01_d.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@2x_d.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@3x_d.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@4x_d.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01_d.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@2x_d.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@3x_d.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@4x_d.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- tablet screen -->
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01_t.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@2x_t.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@3x_t.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@4x_t.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01_t.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@2x_t.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@3x_t.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@4x_t.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- mobile screen -->
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01_m.webp    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@2x_m.webp 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@3x_m.webp 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@4x_m.webp 4x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01_m.jpg    1x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@2x_m.jpg 2x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@3x_m.jpg 3x,
                    ./images/hotel/double-room-lux/slider/double-room-lux-slider01@4x_m.jpg 4x
                  "
                  type="image/jpg"
                />
                <!-- fallback -->
                <img
                  src="./images/hotel/double-room-lux/slider/double-room-lux-slider01_m.jpg"
                  alt="Hotel photo"
                  width="254"
                  height="254"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-button__wraper">
            <div class="swiper-button__next">
              <svg class="swiper-button__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="swiper-button__prev">
              <svg class="swiper-button__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-arrow-left"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="double-room-lux__btn-wrap">
        <a class="double-room-lux__btn" href="" area-label="">Детальніше</a>
        <button class="double-room-lux__btn" type="button">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
