<header class="header" data-header>
  <div class="container">
    <div class="header__wrap">
      <a class="header__logo" href="./index.html">MIMINO</a>
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="./restaurant.html" area-label="">Ресторан</span>
          <a class="header__number-wrap" href="tel:+380955559533">
            <svg class="header__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-cell-phone"></use>
            </svg>
            <span class="header__number">095 555 95 33</span>
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" area-label="">Готель</span>
          <a class="header__number-wrap" href="tel:+380668491089">
            <svg class="header__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-cell-phone"></use>
            </svg>
            <span class="header__number">066 849 10 89</span>
          </a>
        </li>
      </ul>
      <ul class="header__social">
        <li>
          <a
            class="social__link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            area-label="instagram"
          >
            <svg class="social__icons" width="24" height="24">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            area-label="facebook"
          >
            <svg class="social__icons" width="24" height="24">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social__link"
            href="https://web.telegram.org/"
            target="_blank"
            rel="noopener noreferrer"
            area-label="telegram"
          >
            <svg class="social__icons" width="24" height="24">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
