.btn {
  @include font(700, 16px, 1.2, 0.02em);
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: var(--btn-border-cl);
  border-radius: var(--br-btn);
  min-width: 236px;
  background-color: var(--btn-gradient);
  color: var(--accent-cl);
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 22px;
  transition-property: background-color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--btn-bg-hovered-cl);
    border-color: var(--btn-border-hovered-cl);
  }
}

.btn--black {
  background-color: var(--btn-bg-black-cl);

  &:hover,
  &:focus {
    background-color: var(--btn-bg-hovered-cl);
  }
}
