.logo {
  font-family: var(--logo-font);
  font-size: var(--fs-logo-s);
  line-height: calc(39 / 36);
  letter-spacing: var(--ls-logo);
  color: var(--accent-cl);

  @include tablet {
    font-size: var(--fs-logo-m);
  }

  &--dark {
    color: var(--logo-dark-cl);
  }

  &--white {
    color: var(--logo-white-cl);
  }
}
