.logo {
  font-family: var(--logo-font);
  font-size: 36px;
  line-height: calc(39 / 36);
  letter-spacing: 0.3em;

  &--dark {
    color: var(--logo-dark-cl);
  }

  &--white {
    color: var(--logo-white-cl);
  }
}
