.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.site-nav__list {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 16px;
}

.site-nav__link {
  color: var(--accent-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover {
    color: var(--accent-hovered-cl);
  }
}
