@import '../../../node_modules/slick-carousel/slick/slick.scss';

.slick-slider {
  position: relative;

  // @media screen and (max-width: 767px) {
  //   margin: -15px;
  // }

  // @media screen and (min-width: 480px) {
  //   max-width: 480px;
  //   height: 580px;
  // }

  // @media screen and (min-width: 768px) {
  //   max-width: 573px;
  //   height: 680px;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   margin-left: -15px;
  // }

  // @media screen and (min-width: 1200px) {
  //   max-width: 1070px;
  // }
}

.slider-item {
  //   @media screen and (min-width: 480px) {
  //     max-width: 480px;
  //     max-height: 580px;
  //   }

  //   @media screen and (min-width: 768px) {
  //     max-width: 573px;
  //     max-height: 680px;
  //   }

  //   @media screen and (min-width: 1200px) {
  //     max-width: 1070px;
  //     max-height: 680px;
  //   }
}

.slick-slider .slick-arrow {
  position: absolute;
  z-index: 10;
  display: none;
}

.slick-arrow.slick-prev {
  position: absolute;
  margin-right: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: transparent;
  border: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  transition-property: background-image;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.slick-arrow.slick-next {
  position: absolute;
  background-repeat: no-repeat;
  background-position: right;
  background-color: transparent;
  color: transparent;
  border: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  transition-property: background-image;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

// .slick-dots {
//   position: absolute;
//   top: 50%;
//   right: 20;
//   transform: translateY(-50%);
//   text-align: right;
// }

// .slick-dots button {
//   border: none;
//   font-size: 0;
//   padding: 0;
//   width: 8px;
//   height: 2px;
//   background-color: var(--slider-pagination-cl);
// }

// .slick-active button {
//   width: 18px;
//   height: 2px;
//   background-color: #ffffff;
// }
