.social__list {
  display: flex;
  gap: 20px;
}

.social__link {
  color: var(--accent-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-hovered-cl);
  }
}

.social__icons {
  fill: currentColor;
}
