.swiper-rtl {
  // position: relative;
  // width: 330px;
  overflow: hidden;

  @media screen and (max-width: 1023px) {
    height: 297px;
  }

  @include tablet {
    height: 258px;
  }

  @include desktop {
    height: 322px;
  }

  & .swiper-slide.swiper-slide-prev,
  & .swiper-slide.swiper-slide-active,
  & .swiper-slide.swiper-slide-next {
    width: 245px;
    height: 245px;
    overflow: hidden;

    @include tablet {
      width: 194px;
      height: 194px;
    }

    @include desktop {
      width: 254px;
      height: 254px;
    }
  }

  & .swiper-img {
    width: 245px;
    height: 245px;

    @include tablet {
      width: 194px;
      height: 194px;
    }

    @include desktop {
      width: 254px;
      height: 254px;
    }
  }

  & .swiper-button__wraper {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 32px;

    @media screen and (max-width: 1023px) {
      left: 220;
    }

    @include tablet {
      right: 0;
    }
  }

  & .swiper-button__next {
    background-image: url(./../images/svg/arrow-left-dark.svg);

    &:hover {
      background-image: url(./../images/svg/arrow-left-hovered.svg);
    }
  }

  & .swiper-button__prev {
    background-image: url(./../images/svg/arrow-right-dark.svg);

    &:hover {
      background-image: url(./../images/svg/arrow-right-hovered.svg);
    }
  }
}

// About-hotel slider

.slider__box {
  // margin-left: -130px;
  @media screen and (max-width: 1023px) {
    width: 510px;
    overflow: hidden;
    margin-left: -195px;
  }

  @include tablet {
    width: 428px;
    // margin-left: 0;
  }

  @include desktop {
    width: 548px;
  }
}

.swiper-ltr {
  // position: relative;
  // right: 20px;
  // width: 330px;
  // height: 297px;
  overflow: hidden;

  @media screen and (max-width: 1023px) {
    // width: 330px;
  }

  @include tablet {
    margin-top: -60px;
  }

  @include desktop {
    margin-top: -211px;
  }

  & .swiper-wrapper {
    margin-bottom: 52px;

    @include tablet {
      margin-bottom: 64px;
    }
  }

  // .swiper-slide {
  //   // width: 245px !important;
  //   overflow: hidden;
  //   // @include tablet {
  //   //   width: 194px !important;
  //   // }
  // }

  & .swiper-button__wraper {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 32px;

    @media screen and (max-width: 1023px) {
      left: 195;
    }

    @include tablet {
      left: 0;
    }
  }

  & .swiper-button__next {
    background-image: url(./../images/svg/arrow-left-dark.svg);

    &:hover {
      background-image: url(./../images/svg/arrow-left-hovered.svg);
    }
  }

  & .swiper-button__prev {
    background-image: url(./../images/svg/arrow-right-dark.svg);

    &:hover {
      background-image: url(./../images/svg/arrow-right-hovered.svg);
    }
  }
}

// Details-restaurant slider

.details-restaurant__box {
  @media screen and (max-width: 1023px) {
    margin-left: 25px;
  }

  @include tablet {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
  }
}

.details-restaurant__swiper {
  position: relative;
  margin-bottom: 32px;
  overflow: hidden;

  @media screen and (max-width: 1023px) {
    width: 374px;
  }

  @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
  }

  & .swiper-wrapper {
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 56px;
    }
  }

  .swiper-slide {
    width: auto !important;
    overflow: hidden;
    @include tablet {
    }
  }

  & .swiper-slide.swiper-slide-duplicate,
  & .swiper-slide.swiper-slide-prev,
  & .swiper-slide.swiper-slide-active,
  & .swiper-slide.swiper-slide-next {
    height: 270px;
  }

  & .swiper-button__wraper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 32px;
  }

  & .swiper-button__next {
    background-image: url(./../images/svg/arrow-left-white.svg);

    &:hover {
      background-image: url(./../images/svg/arrow-left-hovered.svg);
    }
  }

  & .swiper-button__prev {
    background-image: url(./../images/svg/arrow-right-white.svg);

    &:hover {
      background-image: url(./../images/svg/arrow-right-hovered.svg);
    }
  }
}

.details-restaurant__btn-wrap {
  @include tablet {
    margin-top: auto;
    margin-right: 29px;
    margin-bottom: 60px;
  }

  @include desktop {
    margin-right: 32px;
  }
}

.details-restaurant__btn-wrap > .btn:first-child {
  margin-bottom: 24px;
}

// Details-hotel slider

.details-hotel__swiper {
  // position: relative;
  right: 25px;
  // width: 330px;
  height: 322px;

  & .swiper-slide.swiper-slide-prev,
  & .swiper-slide.swiper-slide-active,
  & .swiper-slide.swiper-slide-next {
    // width: 274;
    // height: 270px;
    overflow: hidden;
  }

  & .swiper-button__wraper {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 32px;
  }

  & .swiper-button__next {
    background-image: url(./../images/svg/arrow-left-white.svg);

    &:hover {
      background-image: url(./../images/svg/arrow-left-hovered.svg);
    }
  }

  & .swiper-button__prev {
    background-image: url(./../images/svg/arrow-right-white.svg);

    &:hover {
      background-image: url(./../images/svg/arrow-right-hovered.svg);
    }
  }
}
