.about-restaurant {
  @include section(16, 20);
  position: relative;
  background-color: var(--bg-lemon-cl);

  @include tablet {
    @include section(120, 32);
  }

  @include desktop {
    @include section(120, 50);
  }
}

.about-restaurant__uppertitle {
  @extend %uppertitle;
  margin-bottom: 12px;

  @include tablet {
    margin-bottom: 4px;
  }
}

.about-restaurant__logo {
  @extend .logo;
  @extend .logo--dark;
  font-size: var(--fs-section-logo-m);
  margin-bottom: 12px;

  @include tablet {
    font-size: var(--fs-section-logo-t);
    margin-bottom: 24px;
  }
}

.about-restaurant__item {
  margin-bottom: 32px;

  @include tablet {
    display: flex;
    margin-bottom: 0;
  }
}

.about-restaurant__item:nth-child(2n + 1) > .about-restaurant__descr {
  @extend %descr;

  @include mobile {
    margin-bottom: 28px;
    max-width: 258px;
  }

  @include tablet {
    margin-bottom: 0;
    margin-right: 26px;
    max-width: 439px;
  }

  @include desktop {
    margin-right: 37px;
    max-width: 518px;
  }
}

.about-restaurant__item:nth-child(2n + 1) > .about-restaurant__img {
  display: block;
  margin-left: auto;
  max-width: 244px;

  @include tablet {
    margin-top: -296px;
    margin-left: 0;
    max-width: 400px;
  }

  @include desktop {
    max-width: 460px;
  }
}

.about-restaurant__item:nth-child(2n) {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;

  @include tablet {
    gap: 48px;
  }

  @include desktop {
    gap: 32px;
  }
}

.about-restaurant__item:nth-child(2n) > .about-restaurant__descr {
  @extend %descr;
  color: var(--accent-descr-text-cl);
  max-width: 156px;
  margin-right: auto;

  @include tablet {
    max-width: 305px;
  }

  @include desktop {
    margin-top: -120px;
  }
}

.about-restaurant__item:nth-child(2n) > .about-restaurant__img {
  display: block;
  max-width: 200px;

  @include tablet {
    margin-top: -20px;
    max-width: 350px;
  }

  @include desktop {
    margin-top: -50px;
    max-width: 460px;
  }
}

.about-restaurant__img {
  @extend %section-img;
}

.about-restaurant__slider {
  margin-left: 74px;
  width: 325px;

  @include tablet {
    width: 428px;
    margin-top: -30px;
    margin-left: auto;
  }

  @include desktop {
    width: 548px;
    margin-top: -150px;
    margin-left: 561px;
  }
}

.about-restaurant__wrap {
  @include tablet {
    right: 0;
  }
}
