.header {
  @include section(16, 16);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @include tablet {
    @include section(24, 24);
  }

  &.header--no-transparency::before {
    transform: translateY(0);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(25, 28, 38, 0.6);
    backdrop-filter: blur(4px);
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  @extend .logo;
  @extend .logo--white;
  z-index: 100;
}

.header__list {
  display: flex;
}

.header__item {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 10px;

  @include tablet {
    margin-right: 72px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  font-weight: var(--fw-semibold);
  color: var(--accent-cl);
  margin-right: 3px;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-hovered-cl);
  }

  @include tablet {
    margin-right: 32px;
  }
}

.header__number-wrap {
  display: flex;
  align-items: center;
  color: var(--accent-cl);

  @media screen and (max-width: 1023px) {
    &:hover,
    &:focus {
      color: var(--accent-hovered-cl);
    }
  }

  @include tablet {
    border-width: 1px;
    border-style: solid;
    border-color: var(--accent-cl);
    border-radius: var(--br-header-number);
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }
}

.header__icon {
  fill: currentColor;

  @include tablet {
    margin-right: 4px;
  }
}

.header__number {
  display: none;
  font-weight: var(--fw-regular);
  font-size: var(--fs-header-number);
  color: var(--header-number-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }

  @include tablet {
    display: block;
  }
}

.header__social {
  @extend .social__list;
  display: none;

  @include desktop {
    display: flex;
  }
}
