<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">About hotel</h2>
    <p class="about-hotel__uppertitle" data-aos="zoom-in-up">
      Amet minim mollit non
    </p>
    <p class="about-hotel__logo" data-aos="zoom-in-up" data-aos-delay="500">
      MIMIHO
    </p>
    <ul>
      <li class="about-hotel__item">
        <p
          class="about-hotel__descr"
          data-aos="zoom-in-up"
          data-aos-delay="1000"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture class="about-hotel__img" data-aos="fade-up-right">
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img01_d.webp    1x,
              ./images/main-page/about-hotel/about-hotel-img01@2x_d.webp 2x,
              ./images/main-page/about-hotel/about-hotel-img01@3x_d.webp 3x,
              ./images/main-page/about-hotel/about-hotel-img01@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img01_d.jpg    1x,
              ./images/main-page/about-hotel/about-hotel-img01@2x_d.jpg 2x,
              ./images/main-page/about-hotel/about-hotel-img01@3x_d.jpg 3x,
              ./images/main-page/about-hotel/about-hotel-img01@4x_d.jpg 4x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img01_t.webp    1x,
              ./images/main-page/about-hotel/about-hotel-img01@2x_t.webp 2x,
              ./images/main-page/about-hotel/about-hotel-img01@3x_t.webp 3x,
              ./images/main-page/about-hotel/about-hotel-img01@4x_t.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img01_t.jpg    1x,
              ./images/main-page/about-hotel/about-hotel-img01@2x_t.jpg 2x,
              ./images/main-page/about-hotel/about-hotel-img01@3x_t.jpg 3x,
              ./images/main-page/about-hotel/about-hotel-img01@4x_t.jpg 4x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img01_m.webp    1x,
              ./images/main-page/about-hotel/about-hotel-img01@2x_m.webp 2x,
              ./images/main-page/about-hotel/about-hotel-img01@3x_m.webp 3x,
              ./images/main-page/about-hotel/about-hotel-img01@4x_m.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img01_m.jpg    1x,
              ./images/main-page/about-hotel/about-hotel-img01@2x_m.jpg 2x,
              ./images/main-page/about-hotel/about-hotel-img01@3x_m.jpg 3x,
              ./images/main-page/about-hotel/about-hotel-img01@4x_m.jpg 4x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/main-page/about-hotel/about-hotel-img01_m.jpg"
            alt="Hotel photo"
            width="460"
            height="574"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="about-hotel__item">
        <p class="about-hotel__descr" data-aos="zoom-in-up">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture class="about-hotel__img" data-aos="fade-up-left">
          <!-- desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img02_d.webp    1x,
              ./images/main-page/about-hotel/about-hotel-img02@2x_d.webp 2x,
              ./images/main-page/about-hotel/about-hotel-img02@3x_d.webp 3x,
              ./images/main-page/about-hotel/about-hotel-img02@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img02_d.jpg    1x,
              ./images/main-page/about-hotel/about-hotel-img02@2x_d.jpg 2x,
              ./images/main-page/about-hotel/about-hotel-img02@3x_d.jpg 3x,
              ./images/main-page/about-hotel/about-hotel-img02@4x_d.jpg 4x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img02_t.webp    1x,
              ./images/main-page/about-hotel/about-hotel-img02@2x_t.webp 2x,
              ./images/main-page/about-hotel/about-hotel-img02@3x_t.webp 3x,
              ./images/main-page/about-hotel/about-hotel-img02@4x_t.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img02_t.jpg    1x,
              ./images/main-page/about-hotel/about-hotel-img02@2x_t.jpg 2x,
              ./images/main-page/about-hotel/about-hotel-img02@3x_t.jpg 3x,
              ./images/main-page/about-hotel/about-hotel-img02@4x_t.jpg 4x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img02_m.webp    1x,
              ./images/main-page/about-hotel/about-hotel-img02@2x_m.webp 2x,
              ./images/main-page/about-hotel/about-hotel-img02@3x_m.webp 3x,
              ./images/main-page/about-hotel/about-hotel-img02@4x_m.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/main-page/about-hotel/about-hotel-img02_m.jpg    1x,
              ./images/main-page/about-hotel/about-hotel-img02@2x_m.jpg 2x,
              ./images/main-page/about-hotel/about-hotel-img02@3x_m.jpg 3x,
              ./images/main-page/about-hotel/about-hotel-img02@4x_m.jpg 4x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/main-page/about-hotel/about-hotel-img02_m.jpg"
            alt="Hotel photo"
            width="460"
            height="574"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <div class="slider__box">
      <div dir="rtl" class="swiper swiper-ltr">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider05_d.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@2x_d.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@3x_d.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider05_d.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@2x_d.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@3x_d.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider05_t.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@2x_t.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@3x_t.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider05_t.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@2x_t.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@3x_t.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider05_m.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@2x_m.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@3x_m.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider05_m.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@2x_m.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@3x_m.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider05@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/main-page/about-hotel/slider/about-hotel-slider05_m.jpg"
                alt="Hotel photo"
                width="254"
                height="254"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider04_d.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@2x_d.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@3x_d.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider04_d.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@2x_d.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@3x_d.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider04_t.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@2x_t.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@3x_t.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider04_t.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@2x_t.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@3x_t.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider04_m.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@2x_m.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@3x_m.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider04_m.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@2x_m.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@3x_m.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider04@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/main-page/about-hotel/slider/about-hotel-slider04_m.jpg"
                alt="Hotel photo"
                width="254"
                height="254"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider03_d.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@2x_d.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@3x_d.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider03_d.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@2x_d.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@3x_d.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider03_t.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@2x_t.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@3x_t.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider03_t.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@2x_t.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@3x_t.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider03_m.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@2x_m.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@3x_m.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider03_m.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@2x_m.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@3x_m.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider03@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/main-page/about-hotel/slider/about-hotel-slider03_m.jpg"
                alt="Hotel photo"
                width="254"
                height="254"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider02_d.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@2x_d.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@3x_d.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider02_d.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@2x_d.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@3x_d.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider02_t.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@2x_t.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@3x_t.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider02_t.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@2x_t.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@3x_t.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider02_m.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@2x_m.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@3x_m.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider02_m.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@2x_m.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@3x_m.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider02@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/main-page/about-hotel/slider/about-hotel-slider02_m.jpg"
                alt="Hotel photo"
                width="254"
                height="254"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider01_d.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@2x_d.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@3x_d.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider01_d.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@2x_d.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@3x_d.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider01_t.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@2x_t.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@3x_t.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider01_t.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@2x_t.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@3x_t.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider01_m.webp    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@2x_m.webp 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@3x_m.webp 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/main-page/about-hotel/slider/about-hotel-slider01_m.jpg    1x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@2x_m.jpg 2x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@3x_m.jpg 3x,
                  ./images/main-page/about-hotel/slider/about-hotel-slider01@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/main-page/about-hotel/slider/about-hotel-slider01_m.jpg"
                alt="Hotel photo"
                width="254"
                height="254"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-button__wraper">
          <div class="swiper-button__next">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </div>
          <div class="swiper-button__prev">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-arrow-left"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
