<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">About hotel</h2>
    <p class="about-hotel__uppertitle">Amet minim mollit non</p>
    <p class="about-hotel__logo">MIMIHO</p>
    <ul>
      <li class="about-hotel__item">
        <p class="about-hotel__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-hotel__img"
          src="./images/about-hotel/about-hotel-img01_m.jpg"
          alt="Hotel photo"
          width="244"
          height="322"
        />
      </li>
      <li class="about-hotel__item">
        <p class="about-hotel__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-hotel__img"
          src="./images/about-hotel/about-hotel-img02_m.jpg"
          alt="Hotel photo"
          width="200"
          height="278"
        />
      </li>
    </ul>
    <div class="slider-left">
      <div class="slider-item">
        <img
          src="./images/about-hotel/slider/about-hotel-slider01_m.jpg"
          alt="Hotel photo"
          width="245"
          height="245"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/about-hotel/slider/about-hotel-slider02_m.jpg"
          alt="Hotel photo"
          width="245"
          height="245"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/about-hotel/slider/about-hotel-slider03_m.jpg"
          alt="Hotel photo"
          width="245"
          height="245"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/about-hotel/slider/about-hotel-slider04_m.jpg"
          alt="Hotel photo"
          width="245"
          height="245"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/about-hotel/slider/about-hotel-slider05_m.jpg"
          alt="Hotel photo"
          width="245"
          height="245"
        />
      </div>
    </div>
  </div>
</section>
