<section class="about-restaurant">
  <div class="container">
    <h2 class="visually-hidden">About restaurant</h2>
    <p class="about-restaurant__uppertitle">Amet minim mollit non</p>
    <p class="about-restaurant__logo">MIMIHO</p>
    <ul>
      <li class="about-restaurant__item">
        <p class="about-restaurant__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-restaurant__img"
          src="./images/main-page/about-restaurant/about-restaurant-img01_d.jpg"
          alt="Restaurant photo"
          width="244"
          height="322"
        />
      </li>
      <li class="about-restaurant__item">
        <p class="about-restaurant__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-restaurant__img"
          src="./images/main-page/about-restaurant/about-restaurant-img02_d.jpg"
          alt="Restaurant photo"
          width="200"
          height="278"
        />
      </li>
    </ul>
    <!-- Slider -->
    <div class="about-restaurant__slider">
      <div class="swiper swiper-rtl">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="swiper-img"
              src="./images/main-page/about-restaurant/slider/about-restaurant-slider01_d.jpg"
              alt="Glass in hand"
              width="245"
              height="245"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="swiper-img"
              src="./images/main-page/about-restaurant/slider/about-restaurant-slider02_d.jpg"
              alt="Table"
              width="245"
              height="245"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="swiper-img"
              src="./images/main-page/about-restaurant/slider/about-restaurant-slider03_d.jpg"
              alt="Food in plates"
              width="245"
              height="245"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="swiper-img"
              src="./images/main-page/about-restaurant/slider/about-restaurant-slider04_d.jpg"
              alt="Food in plates"
              width="245"
              height="245"
            />
          </div>
        </div>
        <div class="swiper-button__wraper">
          <div class="swiper-button__next">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/svg/arrow-right-dark.svg"></use>
            </svg>
          </div>
          <div class="swiper-button__prev">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/svg/arrow-left-dark.svg"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
