<section class="about-restaurant">
  <div class="container">
    <h2 class="visually-hidden">About restaurant</h2>
    <p class="about-restaurant__uppertitle">Amet minim mollit non</p>
    <p class="about-restaurant__logo">MIMIHO</p>
    <ul>
      <li class="about-restaurant__item">
        <p class="about-restaurant__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-restaurant__img"
          src="./images/about-restaurant/about-restaurant-img01_m.jpg"
          alt="Restaurant photo"
          width="244"
          height="322"
        />
      </li>
      <li class="about-restaurant__item">
        <p class="about-restaurant__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-restaurant__img"
          src="./images/about-restaurant/about-restaurant-img02_m.jpg"
          alt="Restaurant photo"
          width="200"
          height="278"
        />
      </li>
    </ul>
    <!-- Slider -->
    <div class="slider-right about-rest">
      <div class="slider-item">
        <img
          src="./images/about-restaurant/slider/about-restaurant-slider01_m.jpg"
          alt="Glass in hand"
          width="245"
          height="245"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/about-restaurant/slider/about-restaurant-slider02_m.jpg"
          alt="Table"
          width="245"
          height="245"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/about-restaurant/slider/about-restaurant-slider03_m.jpg"
          alt="Food in plates"
          width="245"
          height="245"
        />
      </div>
    </div>
  </div>
</section>
