<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">About hotel</h2>
    <p class="about-hotel__uppertitle">Amet minim mollit non</p>
    <p class="about-hotel__logo">MIMIHO</p>
    <ul>
      <li class="about-hotel__item">
        <p class="about-hotel__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-hotel__img"
          src="./images/about-hotel/about-hotel-img01_m.jpg"
          alt="Hotel photo"
          width="244"
          height="322"
        />
      </li>
      <li class="about-hotel__item">
        <p class="about-hotel__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-hotel__img"
          src="./images/about-hotel/about-hotel-img02_m.jpg"
          alt="Hotel photo"
          width="200"
          height="278"
        />
      </li>
    </ul>
    <div class="about-hotel__slider">
      <div class="swiper swiper-ltr">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="./images/about-hotel/slider/about-hotel-slider05_m.jpg"
              alt="Hotel photo"
              width="245"
              height="245"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/about-hotel/slider/about-hotel-slider04_m.jpg"
              alt="Hotel photo"
              width="245"
              height="245"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/about-hotel/slider/about-hotel-slider03_m.jpg"
              alt="Hotel photo"
              width="245"
              height="245"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/about-hotel/slider/about-hotel-slider02_m.jpg"
              alt="Hotel photo"
              width="245"
              height="245"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/about-hotel/slider/about-hotel-slider01_m.jpg"
              alt="Hotel photo"
              width="245"
              height="245"
            />
          </div>
        </div>
        <div class="swiper-button__wraper">
          <div class="swiper-button__next">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/svg/arrow-right-dark.svg"></use>
            </svg>
          </div>
          <div class="swiper-button__prev">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/svg/arrow-left-dark.svg"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
