<section class="details-hotel">
  <div class="container">
    <p class="details-hotel__logo">MIMIHO</p>
    <h2 class="details-hotel__title">Готель</h2>
    <p class="details-hotel__descr">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="slider-left">
      <div class="slider-item">
        <img
          src="./images/details-hotel/slider/details-hotel-slider01_m.jpg"
          alt="Hotel photo"
          width="274"
          height="270"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/details-hotel/slider/details-hotel-slider02_m.jpg"
          alt="Hotel photo"
          width="274"
          height="270"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/details-hotel/slider/details-hotel-slider03_m.jpg"
          alt="Hotel photo"
          width="274"
          height="270"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/details-hotel/slider/details-hotel-slider04_m.jpg"
          alt="Hotel photo"
          width="274"
          height="270"
        />
      </div>
    </div>
    <div class="details-hotel__btn-wrap">
      <button class="btn">Забронювати номер</button>
      <button class="btn">Переглянути ціни</button>
    </div>
  </div>
</section>
