<section class="details-hotel container">
  <div class="details-hotel__wrap">
    <p class="details-hotel__logo">MIMIHO</p>
    <h2 class="details-hotel__title">Готель</h2>
    <p class="details-hotel__descr">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </div>
  <div class="details-hotel__box">
    <div class="details-hotel__slider">
      <div class="swiper details-hotel__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="./images/main-page/details-hotel/slider/details-hotel-slider04_m.jpg"
              alt="Hotel photo"
              width="274"
              height="270"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/main-page/details-hotel/slider/details-hotel-slider03_m.jpg"
              alt="Hotel photo"
              width="274"
              height="270"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/main-page/details-hotel/slider/details-hotel-slider02_m.jpg"
              alt="Hotel photo"
              width="274"
              height="270"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/main-page/details-hotel/slider/details-hotel-slider01_m.jpg"
              alt="Hotel photo"
              width="274"
              height="270"
            />
          </div>
        </div>
        <div class="swiper-button__wraper">
          <div class="swiper-button__next">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/svg/arrow-right-white.svg"></use>
            </svg>
          </div>
          <div class="swiper-button__prev">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/svg/arrow-left-white.svg"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="details-hotel__btn-wrap">
      <button class="btn">Забронювати номер</button>
      <button class="btn">Переглянути ціни</button>
    </div>
  </div>
</section>
