<section class="details-restaurant container">
  <div class="details-restaurant__wrap">
    <p class="details-restaurant__logo" data-aos="flip-up">MIMIHO</p>
    <h2
      class="details-restaurant__title"
      data-aos="flip-up"
      data-aos-delay="300"
    >
      Ресторан
    </h2>
    <p
      class="details-restaurant__descr"
      data-aos="flip-up"
      data-aos-delay="600"
    >
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </div>
  <div class="details-restaurant__box">
    <div class="swiper details-restaurant__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01_d.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@2x_d.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@3x_d.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@4x_d.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01_d.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@2x_d.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@3x_d.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@4x_d.jpg 4x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01_t.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@2x_t.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@3x_t.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@4x_t.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01_t.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@2x_t.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@3x_t.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@4x_t.jpg 4x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01_m.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@2x_m.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@3x_m.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@4x_m.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01_m.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@2x_m.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@3x_m.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider01@4x_m.jpg 4x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              class="swiper-img"
              src="./images/main-page/details-restaurant/slider/details-restaurant-slider01_m.jpg"
              alt="Dish"
              width="274"
              height="270"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02_d.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@2x_d.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@3x_d.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@4x_d.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02_d.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@2x_d.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@3x_d.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@4x_d.jpg 4x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02_t.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@2x_t.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@3x_t.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@4x_t.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02_t.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@2x_t.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@3x_t.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@4x_t.jpg 4x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02_m.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@2x_m.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@3x_m.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@4x_m.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02_m.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@2x_m.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@3x_m.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider02@4x_m.jpg 4x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              class="swiper-img"
              src="./images/main-page/details-restaurant/slider/details-restaurant-slider02_m.jpg"
              alt="Dish"
              width="162"
              height="274"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03_d.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@2x_d.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@3x_d.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@4x_d.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03_d.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@2x_d.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@3x_d.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@4x_d.jpg 4x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03_t.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@2x_t.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@3x_t.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@4x_t.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03_t.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@2x_t.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@3x_t.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@4x_t.jpg 4x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03_m.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@2x_m.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@3x_m.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@4x_m.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03_m.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@2x_m.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@3x_m.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider03@4x_m.jpg 4x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              class="swiper-img"
              src="./images/main-page/details-restaurant/slider/details-restaurant-slider03_m.jpg"
              alt="Dish"
              width="274"
              height="270"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04_d.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@2x_d.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@3x_d.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@4x_d.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04_d.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@2x_d.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@3x_d.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@4x_d.jpg 4x
              "
              type="image/jpg"
            />
            <!-- tablet screen -->
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04_t.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@2x_t.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@3x_t.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@4x_t.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04_t.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@2x_t.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@3x_t.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@4x_t.jpg 4x
              "
              type="image/jpg"
            />
            <!-- mobile screen -->
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04_m.webp    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@2x_m.webp 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@3x_m.webp 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@4x_m.webp 4x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04_m.jpg    1x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@2x_m.jpg 2x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@3x_m.jpg 3x,
                ./images/main-page/details-restaurant/slider/details-restaurant-slider04@4x_m.jpg 4x
              "
              type="image/jpg"
            />
            <!-- fallback -->
            <img
              class="swiper-img"
              src="./images/main-page/details-restaurant/slider/details-restaurant-slider04_m.jpg"
              alt="Dish"
              width="274"
              height="270"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-button__wraper">
        <div class="swiper-button__next">
          <svg class="swiper-button__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button__prev">
          <svg class="swiper-button__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="details-restaurant__btn-wrap">
      <button
        class="btn js-open-modal"
        aria-expanded="false"
        aria-controls="booking-table-modal"
        data-modal="booking-table"
      >
        Забронювати столик
      </button>
      <a class="btn" href="./restaurant.html">Переглянути меню</a>
    </div>
  </div>
</section>
