<section class="details-restaurant">
  <div class="container">
    <div class="details-restaurant__wrap">
      <p class="details-restaurant__logo">MIMIHO</p>
      <h2 class="details-restaurant__title">Ресторан</h2>
      <p class="details-restaurant__descr">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="slider-right details-rest">
      <div class="slider-item">
        <img
          src="./images/details-restaurant/slider/details-restaurant-slider01_m.jpg"
          alt="Dish"
          width="274"
          height="270"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/details-restaurant/slider/details-restaurant-slider02_m.jpg"
          alt="Dish"
          width="274"
          height="270"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/details-restaurant/slider/details-restaurant-slider03_m.jpg"
          alt="Dish"
          width="274"
          height="270"
        />
      </div>
      <div class="slider-item">
        <img
          src="./images/details-restaurant/slider/details-restaurant-slider04_m.jpg"
          alt="Dish"
          width="274"
          height="270"
        />
      </div>
    </div>
    <div class="details-restaurant__btn-wrap">
      <button class="btn">Забронювати столик</button>
      <button class="btn">Переглянути меню</button>
    </div>
  </div>
</section>
