<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title" data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom">MIMIHO</h1>
    <h2 class="hero__subtitle" data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-delay="500">Ресторанно-готельний комплекс</h2>
    <p class="hero__descr" data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-delay="1000">СМАК ЖИТТЯ 24/7</p>
    <div class="hero__wrapper">
      <a
        class="hero__address"
        href="https://maps.app.goo.gl/BnAzcvhhuqpKnCMA6"
        area-label=""
      >
        <svg class="contacts__icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-location-pin"></use>
        </svg>
        Україна, м. Полтава,</br> вул. Маршала Бірюзова, 15</a
      >
    <div class="hero__wrap">
      <button class="hero__btn js-open-modal" data-modal="booking-table">Забронювати столик</button>
      <button class="hero__btn js-open-modal" data-modal="booking-room">Забронювати номер</button>
    </div>
    </div>
    <ul class="hero__social">
      <li>
        <a
          class="social__link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          area-label="instagram"
        >
          <svg class="social__icons" width="24" height="24">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social__link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          area-label="facebook"
        >
          <svg class="social__icons" width="24" height="24">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social__link"
          href="https://web.telegram.org/"
          target="_blank"
          rel="noopener noreferrer"
          area-label="telegram"
        >
          <svg class="social__icons" width="24" height="24">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
